.lista-materias-wrapper {
  padding: 0.1rem;
  height: 87%;
  overflow-y: auto;
}

.lista-materias-container {  
  padding-right: 10px;
}

.lista-materias-wrapper::-webkit-scrollbar {
  width: 8px;
}

.lista-materias-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.lista-materias-wrapper::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

