.menu-container {
    position: fixed;
    z-index: 1000;
    width: 170px;
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}

.menu-link.active .MuiListItemIcon-root,
.menu-link.active .MuiListItem-root {
    background-color: var(--secondary-color);
    color: var(--complementary-color);
}

.menu-divider {
    margin: 10px 0;
    background-color: var(--terniary-color);
}

.user-info {
    padding: 20px;
    text-align: center;
}

.logout-button {
    margin-top: 15px !important;
    font-weight: bold !important;
    width: 100%;
    color: var(--text-color) !important;
    background-color: var(--primary-color)  !important;
    transition: background-color 0.3s ease  !important;
}

.logout-button:hover {
    background-color: var(--secondary-color) !important;
    color: var(--complementary-color) !important;
}
