
.menu-container {
    /* position: sticky; */
    width: 200px;
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-link {
    text-decoration: none;
    color: inherit;

}

.menu-link.active .MuiListItemIcon-root,
.menu-link.active .MuiListItem-root {
    background-color: var(--secondary-color);
    color: var(--complementary-color);
}

.menu-divider {
    margin: 10px 0;
    background-color: var(--terniary-color);
}

.user-info {
    padding: 20px;
    text-align: center;
    position: relative;
}

.user-info .MuiButton-root {
    display: none;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.user-info:hover .MuiButton-root {
    display: block;
}
