
.menu-container {
    width: 200px;
    background-color: #d4ddff;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-link {
    text-decoration: none;
    color: inherit;

}

.menu-link.active .MuiListItemIcon-root,
.menu-link.active .MuiListItem-root {
    background-color: #677C99;
    color: white;
}

.menu-divider {
    margin: 10px 0;
    background-color: #9155E0;
}

.user-info {
    padding: 20px;
    text-align: center;
    position: relative;
}

.user-info .MuiButton-root {
    display: none;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.user-info:hover .MuiButton-root {
    display: block;
}
