.profesorPage-mainMateriaEmocion{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.profesorPage-materiaEmocion{
    background-color: var(--box-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
    flex: 1;
    border-radius: 8px;
}

.profesorPage-tituloMateria {
    background-color: var(--secondary-color); 
    color: var(--complementary-color); 
    padding: 10px 50px; 
    border-radius: 15px 15px 0 0; 
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px var(--box-shadow-color); 
}


.profesorPage-materiaEmocionInterior{
    display: grid;
    grid-template-columns: 2fr 3fr ;
    grid-template-rows: 1fr;
    padding: 20px;

}

.profesorPage-graficos{
    width: 100%;
    margin-right: 20px; 
}

.profesorPage-lista{
    margin: 10px;
}

.profesorPage-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.profesorPage-cancel {
    color: var(--complementary-color) !important;
    background-color: var(--warning-color) !important;
    border-radius: 8px;
}

.profesorPage-edit {
    color: var(--complementary-color) !important;
    background-color: var(--secondary-color) !important;
    border-radius: 8px;
}