button{
    margin: 24px 0 16px !important;
    background-color: var(--secondary-color) !important;
    border-radius: 8px !important;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  var(--primary-color);
    color: var(--text-color);
    padding: 32px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px var(--box-shadow-color);
}

.form {
    width: 100%;
    margin-top: 8px;
}

.formSection{
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    margin-top: 8px;
    color: var(--terniary-color);
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}

.textfield {
    background-color: var(--textfield-bg-color);
    border-radius: 8px;
}
