body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emocionesProfesorPage-container {
    display: flex;
    height: 100vh;
}

.emocionesProfesorPage-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.emocionesProfesorPage-materia {
    background-color: var(--box-color);
    padding: 20px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
}

.emocionesProfesorPage-title {
    color: var(--terniary-color);
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    text-align: center;
    box-shadow: none;
    padding: 0 20px;
  }