.profesorPage-container {
    display: flex;
    height: 100vh;
}

.profesorPage-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
    max-height: 100%;
}

.profesorPage-materia {
    background-color: var(--box-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto; 
    max-height: calc(100vh - 80px);
}

.profesorPage-materia::-webkit-scrollbar {
    width: 8px;
}

.profesorPage-materia::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.profesorPage-materia::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

.profesorPage-title {
    color: var(--terniary-color);
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    text-align: center;
    box-shadow: none;
    padding: 0 20px;
}

