.listaEstudiantes-container {
    position: relative;
}

.listaEstudiantes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaEstudiantes-title {
    font-weight: bold;
    color: var(--terniary-color);
    font-size: 1.5rem !important;
}

.listaEstudiantes-cancel {
    color: var(--complementary-color) !important;
    background-color: var(--warning-color) !important;
    border-radius: 8px;
}

.listaEstudiantes-submit {
    color: var(--complementary-color) !important;
    background-color: var(--success-color) !important;
    border-radius: 8px;
}

.tableInscripcion-container {
    max-height: 380px;
    overflow-y: auto;
    border-radius: 8px;
}

