.horario-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  font-family: Arial, sans-serif;
  overflow-x: auto;
}

.horario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  color: var(--terniary-color);
}

.horario-container-sup {
  width: 100%;
  overflow-y: auto;
  min-height: 30vh;
  max-height: 46vh;
  padding-right: 10px;
}

.horario-container-sup::-webkit-scrollbar {
  width: 8px;
}

.horario-container-sup::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.horario-container-sup::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

.horario-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.horario-hours {
  display: flex;
  flex-direction: column;
  width: 60px;
  margin-top: 29px;
  flex-shrink: 0;

}

.horario-hour {
  height: 60px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  color: var(--terniary-color);
}

.horario-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
}

.horario-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14%;
  border: 1px solid var(--border-color);
  background-color: var(--complementary-color);
  position: relative;
  color: var(--text-color);
  font-weight: bold;
}

.horario-day-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.horario-hour-slot {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid  var(--border-color);
  width: 100%;
}

.horario-day:nth-of-type(1) .horario-hour-slot {
  background-color: var(--box-color);
}

.horario-day:nth-of-type(7) .horario-hour-slot {
  background-color: var(--box-color);
}
