.saludPage-container {
    display: flex;
    height: 100vh;
}


.saludPage-main {
    margin-left: 168.5px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
    max-height: 100%;
    width: 100%;
}

.saludPage-interior{
    background-color: var(--box-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
    flex: 1;
    border-radius: 8px;
    padding: 20px;
}