*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

:root {
    --primary-color: #d4ddff;
    --secondary-color: #677C99;
    --terniarycolor: #9155E0;
    --text-color: #3E3E3E;
    --textfield-bg-color: rgba(255, 255, 255, 0.2);
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}